<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/fav.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stiltetuin de Stroetenhof</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
    <nav class="navbar  navbar-expand-md  navbar-light fixed-top fixed-top-2">
    <div class="container">
      <!--<a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>-->
      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/tuin" class="nav-link">De tuin</a>
          </li>
          <li class="nav-item">
            <a href="/vrijwilligers" class="nav-link">Vrijwilligers</a>
          </li>
          <li class="nav-item">
            <a href="/gallerij" class="nav-link">Fotogalerij</a>
          </li>
          <li class="nav-item">
            <a href="/actueel" class="nav-link">Actuele tuinfoto's</a>
          </li>
          <li class="nav-item">
            <a href="/archief" class="nav-link">Archief</a>
          </li>
          <li class="nav-item">
            <a href="/Agenda" class="nav-link">Agenda</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md  navbar-light fixed-top">
    <div class="container">
      <p class="d-none d-md-block"></p><a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>
      <!--<img src="img/lotus.png" id="lotus">-->
      <!--<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">-->
      <!--  <span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </div>
  </nav>

<header id="home-section">
        <div class="caption">
&mdash; "Laten wij op stille voeten door het gras
<hr>
behoedzaam de stiltetuin betreden" 
      </div>
</header>

  <!-- EXPLORE HEAD -->
<section id="main" class="bg-light">
  <div class="container">
  <p class="par  pt-5">
    <!--<img src="img/jasmine.png" class="jasmine d-none d-md-block">-->
   <p class="text-center sub-heading">Alida de Jonge.<br>
   *27 april    --     † 2 augustus 2017</p>
<br><br>
<div class="row pb-5">
  <div class="col-lg-7 p-5">
    Alida was de uitvinder en de motor van de stiltetuin de Stroetenhof. Zolang ze kon heeft ze zich ingezet om de tuin tot een plek te maken waar het goed is om te zijn. Met haar stoere doorzettingsvermogen, haar eigenzinnige karakter en haar onuitputtelijke energie is het haar gelukt om haar droom waar te maken, voor haar zelf, voor anderen en met anderen. Ze heeft er keihard voor gewerkt en er intens van genoten.
  </div>
  <div class="col-lg-5 pl-5">
    <img src="img/alida.png" alt="" class="gallerij img-fluid shift">
    <!--<img src="img/h9.JPG" alt="" class="gallerij img-fluid shift1">-->
  </div>
</div>
</div>
</section>

<!--<div class="container-fluid w-100 pre-footer d-none d-md-block"></div>-->
<!--<div class="container-fluid bg-light" id="backdrop">-->
  
</div>

  </div>
</section id="main-footer">  
  <!-- MAIN FOOTER -->
    <div class="container-fluid main-footer text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <!--<a  href="/"> <img src="img/logo.png"  alt="" height="" width="40%"></a>-->
          <p class="pt-2">Stiltetuin De Stroetenhof<br>
Huizingsbrinkweg 40a<br> 7812 BK<br>Noordbarge<br> Emmen



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/l">Home</a>
              </li>
              <li>
                <a href="/vrijwilligers">Vrijwilligers</a>
              </li>
              <li>
                <a href="/gallerij">Gallerij</a>
              </li>
              <li>
                <a href="/tuin">De Tuin</a>
              </li>
              
            </ul>

          </div>
          <div class="col-md-3">
                        <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/actueel">Actueel</a>
              </li>
              <li>
                <a href="/archief">Archief</a>
              </li>
              <li>
                <a href="/agenda">Agenda</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 text-center">
            <p class="pt-5 pr-5 mt-5 signature"> Gemaakt door: <a href="http://www.3dwebdevelopment.com">3D Web Development</a> </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>



</body>
</html>
