<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/fav.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stiltetuin de Stroetenhof</title>
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
    <nav class="navbar  navbar-expand-md  navbar-light fixed-top fixed-top-2">
    <div class="container">
      <!--<a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>-->
      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/tuin" class="nav-link">De tuin</a>
          </li>
          <li class="nav-item">
            <a href="/vrijwilligers" class="nav-link">Vrijwilligers</a>
          </li>
          <li class="nav-item">
            <a href="/gallerij" class="nav-link">Fotogalerij</a>
          </li>
          <li class="nav-item">
            <a href="/actueel" class="nav-link">Actueel</a>
          </li>
          <li class="nav-item">
            <a href="/archief" class="nav-link">Archief</a>
          </li>
          <li class="nav-item">
            <a href="/Agenda" class="nav-link">Agenda</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md  navbar-light fixed-top">
    <div class="container">
      <p class="d-none d-md-block">Stiltetuin</p><a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>
      <!--<img src="img/lotus.png" id="lotus">-->
      <!--<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">-->
      <!--  <span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </div>
  </nav>

<header id="home-section">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/h13hd.JPG" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/h15hd.JPG" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/h14hd.JPG" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
    </div>
</header>

  <!-- EXPLORE HEAD -->
<section id="main-contact" class="bg-light">
  <div class="container">
  <p class="par  pt-5">
    <!--<img src="img/jasmine.png" class="jasmine d-none d-md-block">-->
   <p class="text-center sub-heading">Contact </p>
<br><br>
<div class="row pb-5">
  <div class="col-lg-7 px-5">
    <p class="par "> <br>
Adres:
<br><br>
Stiltetuin De Stroetenhof
<br>
Huizingsbrinkweg 40a <br> 7812 BK in Noordbarge<br> Emmen
<br><br>
Informatie:
<br>
Stichting de Stroetenhof,    Prinsenlaan 47,  7822 GG, Emmen
<br><br>
<strong>Voorzitter:</strong>
<br>
Harm van Ballegooijen,  hvanbal@gmail.com.  Tel.  06-38349447
<br><br>
<strong>Secretaris:</strong>
<br>
Adinatha Kalk, adinatha@hetnet.nl. Tel. 06-38366531
<br><br>
<strong>Penningmeester:</strong>
<br>
Catrien Louissen  
<br><br>
Het is mogelijk de stiltetuin te huren voor activiteiten en evenementen.
<br><br>
Voorwaarde is dat de activiteiten passen bij de uitgangspunten van de Stiltetuin.
<br><br>

<strong>Donateur</strong>
<br><br>
U kunt donateur worden van stichting de Stroetenhof door tenminste € 15,- over te maken op bankrekeningnummer
<br><br>
NL85 RABO 0154531553  ten name van stichting de Stroetenhof.
<br><br>
Donateurs ontvangen twee maal per jaar onze nieuwsbrief  'het Vijgenblaadje'.
 <br><br>
  </p>
  </div>
  <div class="col-lg-5 pl-5">
    <img src="img/h8.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h9.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h13.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h16.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h19.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h25.JPG" alt="" class="gallerij img-fluid shift">
  </div>
</div>
</div>
</section>

<!--<div class="container-fluid w-100 pre-footer d-none d-md-block"></div>-->
<!--<div class="container-fluid bg-light" id="backdrop">-->
  
</div>

  </div>
</section id="main-footer">  
  <!-- MAIN FOOTER -->
    <div class="container-fluid main-footer text-center text-md-left d-none d-md-block">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <!--<a  href="/"> <img src="img/logo.png"  alt="" height="" width="40%"></a>-->
          <p class="pt-2">Stiltetuin De Stroetenhof<br>
Huizingsbrinkweg 40a<br> 7812 BK<br>Noordbarge<br> Emmen



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/l">Home</a>
              </li>
              <li>
                <a href="/vrijwilligers">Vrijwilligers</a>
              </li>
              <li>
                <a href="/gallerij">Gallerij</a>
              </li>
              <li>
                <a href="/tuin">De Tuin</a>
              </li>
              
            </ul>

          </div>
          <div class="col-md-3">
                        <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/actueel">Actueel</a>
              </li>
              <li>
                <a href="/archief">Archief</a>
              </li>
              <li>
                <a href="/agenda">Agenda</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>



</body>
</html>
