<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../img/fav.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stiltetuin de Stroetenhof</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>
<body id="home">
    <nav class="navbar  navbar-expand-md  navbar-light fixed-top fixed-top-2">
    <div class="container">
      <!--<a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>-->
      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/tuin" class="nav-link">De tuin</a>
          </li>
          <li class="nav-item">
            <a href="/vrijwilligers" class="nav-link">Vrijwilligers</a>
          </li>
          <li class="nav-item">
            <a href="/gallerij" class="nav-link">Fotogalerij</a>
          </li>
          <li class="nav-item">
            <a href="/actueel" class="nav-link">Actuele tuinfoto's</a>
          </li>
          <li class="nav-item">
            <a href="/archief" class="nav-link">Archief</a>
          </li>
          <li class="nav-item">
            <a href="/Agenda" class="nav-link">Agenda</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md  navbar-light fixed-top">
    <div class="container">
      <p class="d-none d-md-block"></p><a  href="/"> <img src="img/logo.png"  alt="" height="40%" width="40%"></a>
      <!--<img src="img/lotus.png" id="lotus">-->
      <!--<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">-->
      <!--  <span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </div>
  </nav>

<header id="home-section">
        <div class="caption">
"Verlegen neergelegd, 
tussen het hoge villagroen,<br>
<hr>
achter het smalle graspad 
lokken vogelstemmen 
de stilte dichterbij. 
      </div>
</header>

  <!-- EXPLORE HEAD -->
<section id="main" class="bg-light">
  <div class="container">
  <p class="par">
    <!--<img src="img/jasmine.png" class="jasmine d-none d-md-block">-->
    <h1 class="heading text-center">De tuin</h1>
<br><br>
<div class="row pb-5">
  <div class="col-lg-7 p-4">
    <p class="par text-center"> <br>
Bij een bescheiden uithangbordje, via een smal graspad  tussen twee erven door, sta je plotseling, verrast, voor  de stiltetuin ‘De Stroetenhof’.
<br><br>
Een plek van rust en  ontmoeting.
<br><br>
Een initiatief uit 1999. Genomen door  enkele mensen, die droomden van een dergelijke plek in Emmen en die samen met vrienden en bekenden, kinderen en vrienden van kinderen, dit stuk grond zijn  gaan ontginnen. Nu is het al jaren een prachtige tuin,  waarin het heerlijk is om samen te werken, te praten  en tot rust te komen.
<br><br>
 

<strong>Hoezo ontginnen?</strong>
<br><br>
Het terrein van ongeveer 600 m², dat in 1999 is geleend door de eigenaar die voor aan de weg woont,  bestond voor een kwart uit een grasveld, voor een  kwart uit een dennenbos en voor de helft uit een door  braamstruiken en brandnetels overwoekerd deel, waar tijdens het ruimen geregeld  wonderlijke dingen tevoorschijn kwamen, zoals oude  verroestte fietsen, bedspiralen, maar ook een redelijk  in tact gebleven oude gemetselde kweekbak, waar men vroeger losse raampanelen op legde. De ramen zijn  verdwenen, maar de bak is, hoewel verplaatst,  behouden gebleven en heeft een nieuwe bestemming  gevonden als
<br>
lavendelkweekbak. Ook werd er een  ijzeren kruisje gevonden, wat waarschijnlijk een deel  van een raam is geweest en dat gepromoveerd is tot christelijk symbool in de kapel. Het eerste cadeau uit de aarde.
<br><br>
 
Verlegen neergelegd,
<br>
tussen het hoge villagroen,
<br>
achter het  smalle graspad
<br>
lokken vogelstemmen
<br>
de stilte dichterbij.
<br>
 <br>

De Heiligentuin,
<br>
ontgonnen uit de chaos,
<br>
koestert in naam
<br>
de gedachten van nature.
<br>
Het Franciscuspaadje leidt
<br>
om de buxus naar het hart.
<br>
Hier slaat de stilte toe
<br>
met grote vrije kracht,
<br>
waar een gedenkplaats
<br>
in harmonie het water raakt.
<br><br>
 

Op het gemak vloeit
<br>
mens en aarde ineen.
<br>
Takkenwallen
<br>
stuwen verbijsterd
<br>
de toonval van de hangmat
<br>
richting Noach’s arkje.
<br>
Daar legt de ontroering
<br>
zich neer in het malse gras
<br>
met de kleine kastanje,
<br>
die zich driemaal wentelt
<br>
in de lieve vrede.

 

<br>&mdash; Mart Brok<br><br>

<strong>Christelijk?</strong>    <br><br>

Omdat de tuin geboren is uit een behoefte aan stilte en bezinning, is destijds gelijk al begonnen met de bouw van een bescheiden kapelletje. Van oud hout en een strooien dak, dat helaas al spoedig door wat moderner materiaal moest worden vervangen vanwege wateroverlast, is een plek gecreëerd waar iedereen even tot rust kan komen, een kaarsje kan branden en een tekst kan lezen en overdenken. Teksten die afkomstig zijn vanuit ‘alle’ godsdiensten en andere universele waarden.
<br><br>
<strong>Idealen?</strong><br>
<br>
Ook is ontmoeting met min of meer gelijkgezinden van heel veel waarde. Luisteren, delen en meeleven zijn termen die heel belangrijk zijn en om daar de optimale mogelijkheid voor te scheppen is er een reeks aan onderkomens de afgelopen 15 jaar de revue gepasseerd. Begonnen in een oude caravan, knus maar op den duur te klein, een yurt, heel romantisch maar toch in ons klimaat te vaak lek, is er nu een flinke blokhut. Ideaal! De ontmoeting kan nu ook bij slecht weer doorgaan.
<br>
<br>

 

Naast het terras ligt een verhoogde border met de eerste ‘vredespaal’ in noord-oost nederland.
<br>
Kort na de tweede wereld oorlog werd de allereerste vredespaal opgericht door de japanner Mashisa Goi. Hij bedacht deze paal vanuit het verlangen naar een revolutie in het menselijk bewustzijn, waardoor niemand meer wraak of haat jegens anderen zou koesteren.
<p class="par text-center ">
Stichting de Stroetenhof wordt gedragen door vrijwilligers, die samen proberen zo milieu bewust en kostenbesparend mogelijk bezig te zijn, passend in de visie van omgang met de natuur.
  </p>
  </p>
  </p>
  </div>
  <div class="col-lg-5 pl-5 d-none d-md-block">
    <img src="img/h8.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h9.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h24.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h22.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h23.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h13.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h14.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h15.JPG" alt="" class="gallerij img-fluid shift1">
    <img src="img/h16.JPG" alt="" class="gallerij img-fluid shift">
    <img src="img/h17.JPG" alt="" class="gallerij img-fluid shift1">
  </div>
</div>
</div>
</section>

<!--<div class="container-fluid w-100 pre-footer d-none d-md-block"></div>-->
<!--<div class="container-fluid bg-light" id="backdrop">-->
  
</div>

  </div>
</section id="main-footer">  
  <!-- MAIN FOOTER -->
    <div class="container-fluid main-footer text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <!--<a  href="/"> <img src="img/logo.png"  alt="" height="" width="40%"></a>-->
          <p class="pt-2">Stiltetuin De Stroetenhof<br>
Huizingsbrinkweg 40a<br> 7812 BK<br>Noordbarge<br> Emmen



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/l">Home</a>
              </li>
              <li>
                <a href="/vrijwilligers">Vrijwilligers</a>
              </li>
              <li>
                <a href="/gallerij">Gallerij</a>
              </li>
              <li>
                <a href="/tuin">De Tuin</a>
              </li>
              
            </ul>

          </div>
          <div class="col-md-3">
                        <h5 class="text-uppercase pt-2"><i class="fas fa-align-justify"></i> Links </h5>

            <ul class="list-unstyled">
              <li>
                <a href="/actueel">Actueel</a>
              </li>
              <li>
                <a href="/archief">Archief</a>
              </li>
              <li>
                <a href="/agenda">Agenda</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 text-center">
            <p class="pt-5 pr-5 mt-5 signature"> Gemaakt door: <a href="http://www.3dwebdevelopment.com">3D Web Development</a> </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>



</body>
</html>
