body{
    overflow-x:hidden;
    /*background: url('../img/footer_image1.png') repeat;*/
    background-position:left;
    background-repeat:repeat; 
    font-family: 'Montserrat', sans-serif!important;
}
.title{
  margin-top:10%;
}

.border{
   border-left:20px solid white!important;
   border-right:20px solid white!important;
}
.bg-blue{
   background:#91C4C4; 
   border-left:20px solid white;
   border-right:20px solid white;
   opacity:.8;
}

.bg-grey{
   background:grey;    
   border-left:20px solid white;
   border-right:20px solid white;
   opacity:.8;    
}

.bg-green{
   background:#409a40;    
   border-left:20px solid white;
   border-right:20px solid white;
   opacity:.8;    
}

.caption{
  padding:10px;
  position:absolute;
  top:60%;
  left:10%;
  font-size:32px;
  color:white;
  background:rgba(0,0,0,.3);
}

@media only screen and (max-width: 600px) {
    .caption{
    position:absolute;
    top:40%;
    left:0%;
    font-size:24px;
    color:white;
    background:rgba(0,0,0,.3);  
    }
}


.caption hr{
    border:.8px solid white;
    width:80%;
}

#main{
    background-position:left right;
    background-repeat:repeat;   
     min-height:600px;
     z-index:-1000!important;
}

#main-archief{
     background: url('../img/footer_image1.png') repeat;
    background-position:left right;
    background-repeat:repeat;   
     min-height:730px;
     font-size:18px;
     z-index:-1000!important;
}

#main-contact{
     background: url('../img/footer_image1.png') repeat;
    background-position:left right;
    background-repeat:repeat;   
     min-height:1600px;
     font-size:18px;
     z-index:-1000!important;
}

#main-gallerij{
     background: url('../img/footer_image1.png') repeat;
    background-position:left right;
    background-repeat:repeat;   
     min-height:2200px;
     font-size:18px;
     z-index:-1000!important;
}

#lotus{
    padding-top:10px;
    width:100px;
    position:absolute;
    top:2;
    /*bottom:100%;*/
    left:80%;
    /*transform: rotate(-30deg);*/
    z-index:-1000!important;
}

nav p{
    color:#91C4C4!important;
    padding-top:25px;
    text-transform:uppercase;
    letter-spacing:6px;
    font-weight:bolder!important;
    
}



.fixed-top-2{
    background:#91C4C4!important;    
    padding-top:78px!important;
    z-index:1!important;
    box-shadow:0px 20px 40px rgba(0,0,0,0.3);
}

.fixed-top-2 nav-link{
    background:#409A40!important;    

}

.text {
  font-weight:100!important;
  z-index:10;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 80%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*text-align: center;*/
  text-shadow:1px 1px 2px rgba(0,0,0,0.6);
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-bottom: 14px solid #91C4C4!important;
}

.overlay a{
    color:white;
}

.overlay:hover{
    border-bottom: 10px solid #91C4C4;
    opacity: 0.5;
}

#main .container{
    /*border-radius:10px;*/
    background:white!important;
    /*border-bottom:20px solid #91c4c4;    */
    /*position:absolute;*/
    /*top:90%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 0;*/
    /*right: 0;*/
    /*box-shadow:0px 20px 40px rgba(0,0,0,0.5);*/
        font-family: 'Montserrat', sans-serif!important;
}

#main-archief .container{
    border-radius:10px;
    background:white!important;
    /*border-bottom:20px solid #91c4c4;    */
    position:absolute;
    top:60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
}   

#main-contact .container{
    border-radius:10px;
    background:white!important;
    /*border-bottom:20px solid #91c4c4;    */
    position:absolute;
    top:60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
} 

#main-gallerij{
    min-height:4000px;
}

.container-fluid #backdrop{
    position:absolute;
    top:100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;    
}

.fotogallerij{
    padding-top:110px;
    padding-bottom:110px;
}

#main .par, .sub-heading{
  font-size:20px!important;
}

.heading{
    color:#333!important;
    font-family: 'Raleway', sans-serif!important;
    font-weight:900;
    font-size:43px;
    margin:90px 0px;
}

.sub-heading{
  font-size:24px;
  z-index:10!important;
}

.fa-quote-left{
    color:black!important;
    text-shadow:0px 2px 4px rgba(0,0,0,0.6);
}

.fa-quote-right{
    color:black!important;
    text-shadow:0px 2px 4px rgba(0,0,0,0.6);
}

.fa-envira{
    color:black!important;
    text-shadow:0px 2px 4px rgba(0,0,0,0.6);
}

.ol{
  /*margin-left:250px;*/
}

.blauw{
    color:#45B7B7;
}

.shift{
    transform: rotate(4deg);
    box-shadow:0px 40px 80px rgba(0,0,0,0.5);
    border:2px solid #45B7B7;
    margin:auto!important;
}

.shift1{
    transform: rotate(-4deg);
    box-shadow:0px 40px 80px rgba(0,0,0,0.5);
    border:2px solid #45B7B7;
    margin:auto!important;
}

.shift2{
    transform: rotate(8deg);
    box-shadow:0px 40px 80px rgba(0,0,0,0.5);
    border:2px solid #45B7B7;
    margin:auto!important;    
}

nav{
    background:transparent!important;
    background-color: white!important;
    margin:auto!important;
    color:white!important;
}

body{
    font-family: 'Montserrat', sans-serif!important;
}
#home1{
    font-family: 'Montserrat', sans-serif!important;
}

.fa{
    font-size:60%;
    color:#ae9d14;
}

.fas{
    font-size:100%;
    color:white;
}

.blue{
    color:#353B97!important;
    /*font-weight:bold;*/
}
.blue-bg1{
    background:#353B97!important;
    font-weight:bold;
    color:black;
}

.blue-bg2{
    background:#bcbbc0!important;
    /*font-weight:bold;*/
    color:white;
}
.light-blue-bg{
    background:#E8E8E8!important;
    /*font-weight:bold;*/
    color:#212529;
}

.light-blue-bg1{
    background:white!important;
    /*font-weight:bold;*/
    color:black;
}

.pre-footer{
    background:#91c4c4;
    min-height:50px;
}

.navbar{
    /*border-bottom:#BBA26A 1.5px solid;*/
    z-index:1000;
    /*box-shadow:0px 20px 40px rgba(0,0,0,0.5);*/
}

.links{
    margin:0;
}

.p1{
    font-size:1.2em;
}

.blue{
    color:#353b97;
}

/*.f1{*/
    /*border-right:1px solid #353b97;*/
    /*height:100%;*/
/*}*/

/*.f3{*/
/*    border-left:1px solid #353b97;*/
/*    height:100%;*/
/*}*/

.bg-creme{
    background-color:#CCC9C7;
}

.divi{
    font-size:140%;
}

#home-section{
   background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/h15hd.JPG") center;
    background-size:cover;
    background-attachment:scroll;
    min-height:700px;
    font-family: 'Montserrat', sans-serif!important;
    height:700px;
}




.carousel-inner{
    height:700px;
    /*border-bottom:8px solid #91c4c4;*/
}

#home-section4{
   background: linear-gradient(rgba(50,50,50,.7), rgba(50,50,50,.7)), url("https://images.pexels.com/photos/359995/pexels-photo-359995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-attachment:scroll;
     background-position:center;
    top:200px;
    min-height:300px;
}

#home404{
        background: white;

}

._404{
    /*margin-top:250px;*/
    font-size:100%;
}

._4041{
    font-size:400%;
}
#home-section2{
    background: linear-gradient(rgba(50,50,50,.5), rgba(50,50,50,0.5)) , url("https://images.pexels.com/photos/167486/pexels-photo-167486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center;
    top:200px;
    min-height:300px;
}

#home-section3{
    background: linear-gradient(rgba(50,50,50,.7), rgba(50,50,50,0.7)), url("https://images.pexels.com/photos/280014/pexels-photo-280014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center;
    min-height:300px;
}

.link button{
    position:relative;
    z-index:1000;
    top:400px;
    left:160px;
    box-shadow:0px 20px 40px rgba(0,0,0,0.3);
    transform:rotate(-4deg);
}

.navbar{
        white-space: nowrap;
}


#section-verkoop{
    background: linear-gradient(rgba(50,50,50,.7), rgba(50,50,50,.7)) , url("https://images.unsplash.com/photo-1499314722718-0827eb4deb71?ixlib=rb-0.3.5&s=196d2100d4a90da2c787172273cc1a10&auto=format&fit=crop&w=630&q=80");
    background-size:cover;
    background-position:center;
}

#section-contact{
    /*background: linear-gradient(rgba(53,59,151,.7), rgba(187,162,106,.7)) , url("https://images.unsplash.com/photo-1499314722718-0827eb4deb71?ixlib=rb-0.3.5&s=196d2100d4a90da2c787172273cc1a10&auto=format&fit=crop&w=630&q=80");*/
    background-size:cover;
    background-position:center;
}

.card1{
    border: 2px solid gray!important;
}

.card-verkoop{
    box-shadow: 0px 30px 60px rgba(0,0,0,0.5)!important;
    background: rgba(255,255,255,1)!important;
}

.pverkoop{
    font-size:120%;
}

.nav-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

li{
    
    border-radius: 2px;
}

button:hover{
    background:#c6c6c6!important;
    border:#c6c6c6!important;
}

.nav-link{
  transition: 0.3s ease;
  background: #91c4c4;
  color: #ffffff!important;
  font-size: 16px;
  text-decoration: none;
  border-top: 4px solid #91c4c4;
  border-bottom: 4px solid #91c4c4;
  padding: 20px 0px;
  margin: 0 20px;
  margin-top:10px;
}

.signature{
    font-size:120%;
}

.btn-primary-custom {
	background-color: #353B97!important;
	border-color: #353B97!important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; /* Changes regular toggle color */
      font-family: 'Raleway', sans-serif!important;

}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: white; /* Changes toggle color on hover */
}

.slogan{
    margin-left:500px;
}

.home-inner{
    padding-top: 150px;
}

.main-footer ul li a{
    transition:.4s ease;
}

.main-footer a:hover{
   background:white;
   color:#91c4c4!important;
   padding:0 3px;
   font-weight:bold!important;
}

.signature{
    transition:1s ease;
}

.jasmine{
    position:absolute;
    top:110%;
    left:40%;
    z-index:0;
    width:30%;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    left:0;back
    width:100%;
    min-height:700px ;
}
.main-footer{
    /*z-index:1010!important;*/
    /*background-image:url("../img/g1.jpg");*/
    color:white;
    background:#91c4c4!important;
    /*background-color: white!important;*/
    box-shadow:2px 2px 3px black;
    padding:25px;
}

.main-footer a{
    color:white!important;
}

#main-footer li{
    
    display:block!important;
    padding-left:10px;
    list-style-type: none;
    border-left: 2px solid white;
}

    
}

.card-form{
    opacity:0.8;
}



#create-section{
    
}

